<div fxLayout="row" fxLayoutAlign="center center" id="login">
  <mat-card fxFlex.gt-md="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.lt-sm="90">
      
    <mat-card-title>Human Touch</mat-card-title>
    <mat-card-subtitle>Log in to your account</mat-card-subtitle>

    <form fxLayout="column" id="form" [formGroup]="loginForm">
      <p id="error" *ngIf="errorMsg">{{errorMsg}}</p>

      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.dirty && email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="!email.errors?.required && email.errors?.invalidEmail">
          Please enter valid email
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="password.dirty && password.errors?.required">
          Password is required
        </mat-error>
      </mat-form-field>

      <div id="buttons" fxLayout="column">
        <button mat-raised-button color="primary" (click)="loginWithEmail()">
          <mat-icon>exit_to_app</mat-icon>&nbsp;Login
        </button>
      </div>  
      <div id="forgot-password">Forgot Password? <a routerLink="/admin/forget-password">Click here</a></div>
    </form>
  </mat-card>
</div>
