#login {
  height: 100vh;
  // background-image: url("/assets/images/background.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  background-color: #3C4252;
}
  
mat-card {
  padding: 70px 34px;
  min-height: 560px;
}

@media only screen and (max-width: 599px) {
  mat-card {
    padding: 40px 24px;
    min-height: 460px;
  }    
  mat-card-title {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  mat-card-subtitle {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px; 
  }
}

mat-card-title {
  font-family: 'Sofia', cursive;
  text-align: center;
  font-size: 36px;
  line-height: 34px;
  margin-bottom: 20px;
}

mat-card-subtitle {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px; 
}

#buttons {
  margin-top: 15px;
  button {
    padding: 3px 0px;
  }
  span {
    text-align: center;
    margin: 5px auto;
    font-size: 14px;
  }
}

#error {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  color: red;
}

#forgot-password {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
