<div class="mat-elevation-z6" id="container">
  <button mat-fab color="accent" (click)="addStudent()" id="fab">
    <mat-icon>add</mat-icon>
  </button>

  <mat-table [dataSource]="students">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aadharNo">
      <mat-header-cell *matHeaderCellDef> Aadhar No </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.aadhar}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dob" >
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{formatDate(student.dob)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let student"> 
        <button mat-icon-button (click)="studentDetail(student)" color="primary">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(student)" color="warn">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator
    [length]="pageLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100]"
    [showFirstLastButtons]="false"
    (page)="changePage($event)">
  </mat-paginator>
</div>  
