#container {
    margin: 40px;
    position: relative;
}

#fab {
    position: absolute;
    top: -12px;
    right: -12px;
}

@media screen and (min-width: 1279px) {
    #container {
        margin: 40px 100px ;
    }
}

@media screen and (max-width: 599px) {
    #container {
        margin: 30px 20px ;
    }
}