<div fxLayout="row" fxLayoutAlign="center center" id="login">
    <mat-card fxFlex.gt-md="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.lt-sm="90">
      <mat-card-title>Human Touch</mat-card-title>

      <div *ngIf="!reset; else resetTemplate">
        <mat-card-subtitle>Reset your password</mat-card-subtitle>
        
        <form fxLayout="column" id="form" [formGroup]="resetPassForm">
          <p id="error" *ngIf="errorMsg">{{errorMsg}}</p>
          <mat-form-field floatLabel="never">
            <input matInput type="text" placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.dirty && email.errors?.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="!email.errors?.required && email.errors?.invalidEmail">
              Please enter valid email
            </mat-error>
          </mat-form-field>
    
          <div id="buttons" fxLayout="column">
            <button mat-raised-button color="primary" (click)="resetPassword()">Reset Passsword</button>
          </div>  
        </form>
      </div>

      <ng-template #resetTemplate>
        <mat-card-subtitle>Confirm your password reset!</mat-card-subtitle>
        <p style="text-align: center">A confirmation e-mail has been sent to <strong>{{email.value}}</strong>.</p>
        <p style="text-align: center">Check your inbox and click on the "Reset Passsword" link to confirm your reset your password.</p>
      </ng-template>
      
      <div id="signin">Sign in <a routerLink="/admin/login">Click here</a></div>
    </mat-card>
  </div>
  
