<div id="container">
  <mat-card style="margin-bottom: 20px;">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" fxLayoutGap.xs="10px">
      <mat-form-field fxFlex>
        <input matInput placeholder="Student Aadhar No" [(ngModel)]="aadhar" #aadharNo="ngModel" pattern="[0-9]{12}">
        <mat-hint *ngIf="aadharNo.invalid">Aadhar No should be 12 digit</mat-hint> 
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSearch()" [disabled]="aadharNo.invalid">
        <mat-icon>search</mat-icon>Search
      </button>
    </div>
  </mat-card>
  <mat-card *ngIf="student">
    <div fxLayout="row" fxLayoutAlign="start center" id="student-info">
      <div fxFlex>
        <div fxLayoutAlign="start center" class="info">
          <div fxFlex><span class="label">Name:</span> {{student.name}}</div>
          <div fxFlex fxHide.xs><span class="label">Phone:</span> {{student.phone}}</div>
        </div>
        <div fxLayoutAlign="start center" class="info">
          <div fxFlex><span class="label">Aadhar:</span> {{student.aadhar}}</div>
          <div fxFlex fxHide.xs><span class="label">Gender:</span> {{student.gender}}</div>
        </div>
      </div>
      <div>
        <button mat-fab color="accent" (click)="addCourse()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-table [dataSource]="courses">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{course.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="grade_obtained">
        <mat-header-cell *matHeaderCellDef> Grade obtained </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{course.grade_obtained}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="assessment_date">
        <mat-header-cell *matHeaderCellDef> Assessment Date </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{formatDate(course.assessment_date)}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="training_agency">
        <mat-header-cell *matHeaderCellDef> Training Agency </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{course.training_agency}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="training_center">
        <mat-header-cell *matHeaderCellDef> Training Center </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{course.training_center}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="certificate_url">
        <mat-header-cell *matHeaderCellDef> Certificate Uploaded </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{uploadStatus(course)}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let course"> 
          <button mat-icon-button (click)="courseDetail(course)" color="primary">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCourse(course)" color="warn">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card>
  
  <mat-card *ngIf="message">
    {{ message }}
  </mat-card>

  <mat-spinner diameter="60" *ngIf="isSearching"></mat-spinner>
</div>