#container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    min-width: 650px;
}

@media only screen and (min-width: 340px) and (max-width: 599px) {
    #container {
        margin: 20px 10px;
    }
    mat-card {
        min-width: 300px;
    }
}

@media only screen and (max-width: 339px) {
    #container {
        margin: 20px 10px;
    }
    mat-card {
        min-width: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    #container {
        margin: 20px 10px;
    }
    mat-card {
        min-width: 540px;
    }
}

#student-info {
    margin-bottom: 20px;
    font-size: 13px;
    margin-left: 20px;
    .label {
        margin-right: 10px;
        font-weight: 500;
    }
    .info {
        margin-bottom: 5px;
    }
}

mat-header-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
mat-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
