<mat-sidenav-container>
  <mat-sidenav *ngIf="authService.currentUser"
      mode="side" [opened]="opened" 
      [mode]="mode" #sidenav>

    <mat-toolbar id="side-header" class="mat-elevation-z3">
      <span>Human Touch</span>
      <span class="flex-spacer"></span>
      <button mat-icon-button fxHide.gt-sm (click)="sidenav.toggle()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <div class="group-title">
        <span>Upload Certificates</span>
      </div>
      <mat-list-item routerLink="/admin/upload" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon matListIcon>cloud_upload</mat-icon>
        <span>Certificates</span>
      </mat-list-item>
      
      <div class="group-title">
        <span>Maintain Records</span>
      </div>
      <mat-list-item routerLink="/admin/student" routerLinkActive="active" (click)="closeSideNav()">
        <mat-icon matListIcon>account_box</mat-icon>
        <span>Student</span>
      </mat-list-item>
      
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div *ngIf="authService.currentUser">  
      <app-header></app-header>
      <!-- <mat-toolbar id="sub-header"></mat-toolbar> -->
    </div>
    <div id="container">
      <router-outlet></router-outlet>
    </div>  
  </mat-sidenav-content>
</mat-sidenav-container>