mat-sidenav {
    width: 256px;
    background-color: #3c4252 !important;
    z-index: 100;
}

mat-sidenav-container {
    height: 100vh;
}

mat-list-item {
    color: #fff !important;
    font-size: 14px !important;
    mat-icon {
        font-size: 18px !important;
        display: flex;
        align-items: center;
    }
    span {
        margin-left: 5px;
    }
}

#side-header {
    background-color: #3c4252 !important; 
    color: rgba(255,255,255,.87)!important;
    font-size: 24px;
    padding-left: 24px;
    span {
        line-height: 28px;
        font-weight: 400;
    }
    font-family: 'Sofia', cursive;
}

#sub-header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120px;
    background-image: url("/assets/images/header-bg.png");
    background-color: #039be5;
}

.active {
    background-color: #039be5;
    &:hover, &:focus {
        background-color: #039be5;
    }
}

.group-title {
    font-size: 12px;
    text-transform: uppercase;
    color: hsla(0,0%,100%,.5)!important;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-weight: 500;
}
