#toolbar {
    padding: 0px;
    z-index: 99;
}

#menu {
    margin-left: 5px;
    font-family: 'Sofia', cursive;
}

.user-profile {
    align-self: stretch;
    font-size: 14px !important;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    mat-icon {
        color: rgba(0, 0, 0, 0.54) !important;
    }
}

.profile-img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 5px;
}