<mat-toolbar id="toolbar" class="mat-elevation-z3">
  <div id="menu" fxHide.gt-sm>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Human Touch</span>
  </div>

  <div class="flex-spacer"></div>

  <button mat-button class="user-profile" [matMenuTriggerFor]="appMenu">
    <img src="/assets/images/profile.jpg" class="profile-img">
    <span class="name" fxHide.xs>Administrator</span>
    <mat-icon fxHide.xs>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>Settings
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>

</mat-toolbar>
