<h1 mat-dialog-title>Student Information</h1>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="25px">
      <mat-form-field fxFlex>
        <input matInput placeholder="Full Name" formControlName="name">
        <mat-error *ngIf="name.errors?.required">Full name is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="Aadhar No" formControlName="aadhar">
        <mat-error *ngIf="aadhar.errors?.pattern">Aadhar should be 12 digits no</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="25px">
      <mat-form-field fxFlex>
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dob.errors?.required">Date of birth is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option *ngFor="let genderType of genderTypes" [value]="genderType">
            {{ genderType }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="gender.errors?.required">Gender is required</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="25px">
      <mat-form-field fxFlex>
        <input matInput placeholder="Phone" formControlName="phone">
        <mat-error *ngIf="phone.errors?.required">Phone number is required</mat-error>
        <mat-error *ngIf="phone.errors?.pattern">Mobile no should be 10 digits</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput placeholder="Email ID" formControlName="email">
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="email.dirty && email.errors?.invalidEmail">Please enter a valid email</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field fxFlex>
      <textarea matInput placeholder="Address" formControlName="address" rows="5">
      </textarea>
      <mat-error *ngIf="address.dirty && address.invalid">Address is required</mat-error>
    </mat-form-field>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <!-- <button *ngIf="data" mat-raised-button color="warn" type="button" (click)="onDelete()">Delete</button> -->
    <button mat-raised-button color="primary" type="submit">Save</button>
  </mat-dialog-actions>
</form>  