#upload_progress {
    margin: 5px;
    font-size: 14px;
    text-align: right;
  }
  
  h1 {
    margin: 0px;
    padding-left: 25px;
  }
  
  mat-dialog-content {
    min-height: 450px;
  }
  
  .btn {
    margin-top: 15px;
  }
  
  .error-msg {
    color: #f44336;
  }
  
  .success {
    color: green;
    margin-top: 3px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
  }