<div fxLayout="row" fxLayoutAlign="start center">
  <h1 mat-dialog-title fxFlex>{{title}}</h1>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <mat-horizontal-stepper>
    <mat-step label="Course Details" [completed]="completed">
      <form [formGroup]="courseForm" (ngSubmit)="saveCourse()">
        <p class="success" *ngIf="completed">Saved the information successfully</p>
        <div fxLayout="column" fxLayoutGap="5px">    
          <div fxLayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.xs="5px">
            <mat-form-field fxFlex>
              <mat-label>Course Name</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="courseForm.get('name').errors?.required">Course name is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Grade Obtained</mat-label>
              <input matInput formControlName="grade_obtained">
              <mat-error *ngIf="courseForm.get('grade_obtained').errors?.required">Course name is required</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.xs="5px">
            <mat-form-field fxFlex>
              <input matInput [matDatepicker]="assess_date" placeholder="Assessment Date" formControlName="assessment_date">
              <mat-datepicker-toggle matSuffix [for]="assess_date"></mat-datepicker-toggle>
              <mat-datepicker #assess_date></mat-datepicker>
              <mat-error *ngIf="courseForm.get('assessment_date').errors?.required">Course name is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Training Agency</mat-label>
              <input matInput formControlName="training_agency">
              <mat-error *ngIf="courseForm.get('training_agency').errors?.required">Course name is required</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.xs="5px">
            <mat-form-field fxFlex>
              <input matInput [matDatepicker]="ci_date" placeholder="Certificate Issue Date" formControlName="certificate_issue_date">
              <mat-datepicker-toggle matSuffix [for]="ci_date"></mat-datepicker-toggle>
              <mat-datepicker #ci_date></mat-datepicker>
              <mat-error *ngIf="courseForm.get('certificate_issue_date').errors?.required">Course name is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Training Center</mat-label>
              <input matInput formControlName="training_center">
              <mat-error *ngIf="courseForm.get('training_center').errors?.required">Course name is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="btn">
          <button mat-raised-button color="primary" *ngIf="!completed"
            type="submit" [disabled]="courseForm.invalid || submitted">Save</button>
          <button mat-raised-button matStepperNext color="accent" 
            type="button" *ngIf="courseId">Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step label="Upload Certificate">
      <p class="error-msg" *ngIf="!courseId">Please fill up the necessary course details first</p>
      <p *ngIf="courseId && !selectedFile">Please select the file to upload</p>

      <input type="file" (change)="selectFile($event)">
      <div>
        <p id="upload_progress">Upload progress status</p>
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="uploadFile()" 
          [disabled]="!courseId || !selectedFile">Upload</button>
        <button mat-raised-button matStepperPrevious color="accent">Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
